/* Reset default margin and padding */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #262626;
} */

.animation {
  position: absolute;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.animation.text {
  background: linear-gradient(90deg, #16bffd, #00eeff, #0f6597, #273136);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 60% 200%;
  animation: animate 10s linear infinite;
}

/* background-size is important for this animation */

@keyframes animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animation.shadow {
  text-shadow: 8px 2px 5px #000;
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling for body */
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  padding: 0;
  margin: 0;
}

/* Header styling */
header {
  background-color: #333;
  color: #fff;
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1000; /* Ensure header is on top of background */
}

header h1 {
  font-size: 2rem;
  margin: 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin-left: 800px; /* Adjust to push menu items to the right */
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  padding: 10px;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Main content styling */
main {
  margin: 20px;
  padding: 20px 40px;
  background-color: rgba(
    32,
    32,
    32,
    0.9
  ); /* Semi-transparent black background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Adjust as needed */
  position: relative;
  z-index: 900; /* Ensure main content is above background */
}

section {
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #fff;
}

.project {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #333; /* Dark gray background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project h3 {
  margin-bottom: 10px;
  font-size: 1.6rem;
  color: #fff;
}

.project p {
  color: #ccc;
}

b {
  color: rgb(150, 105, 105);
}

img {
  width: 60px; /* Fix missing units */
  height: 60px; /* Fix missing units */
}

.skills {
  margin: 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.skills li {
  padding: 10px;
}

/* Footer styling */
footer {
  text-align: center;
  padding: 10px 0;
  margin: 20px;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
}

form {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

input {
  margin: 4px;
}

textarea {
  margin: 4px;
  height: 80px;
}

.back {
  color: white;
}

#submit {
  background-color: #00b4d8;
  border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 1200px) {
  header {
    margin-top: -60px;
  }

  nav ul {
    flex-direction: row;
    align-items: center;
    margin-left: 0;
    margin-top: 120px; /* Adjust margin */
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  header {
    margin-top: -120px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-top: 240px; /* Adjust margin */
  }
}
