/* Reset default margin and padding */
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap);

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/* body {
  align-items: center;
  background-color: #262626;
  display: flex;
  justify-content: center;
  min-height: 100vh;
} */

.animation {
  font-size: 2em;
  letter-spacing: 2px;
  position: absolute;
  text-transform: uppercase;
}

.animation.text {
  animation: animate 10s linear infinite;
  background: linear-gradient(90deg, #91DDCF, #F7F9F2, #E8C5E5, #F19ED2);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 60% 200%;
}
/* background-size is important for this animation */

@keyframes animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animation.shadow {
  text-shadow: 8px 2px 5px #000;
  z-index: -1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Basic styling for body */
body {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Header styling */
header {
  align-items: center;
  background-color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
  margin-top: -20px;
  margin-left: 20px;
  /* position: relative;  */
  position: fixed;
  z-index: 1000; /* Ensure header is on top of background */
}

header h1 {
  font-size: 2rem;
  margin: 0;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin-left: 780px; /* Adjust to push menu items to the right */
}

nav ul li { margin-right: 20px; }

nav ul li a {
  color: #fff;
  padding: 10px;
  text-decoration: none;
  transition: all .3s ease;
}

nav ul li a:hover { text-decoration: underline; }

.user-heading { 
  background-color: white;
  /* border: 2px solid whitesmoke; */
  border-radius: 10px;
  color: black;
  font-size: 2em;
  padding: 10px;
}

/* Main content styling */
main {
  background-color: rgba(32, 32, 32, .9); /* Semi-transparent black background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
  margin: 20px;
  /* margin-top: 20px;  */
  padding: 90px 40px;
  position: relative;
  z-index: 900; /* Ensure main content is above background */
}

section { 
  margin-bottom: 40px; 
  margin-top: 20px;
}

h2 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 20px;
}

.project {
  background-color: #333; /* Dark gray background */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  padding: 20px;
}

.project h3 {
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.project p { color: #ccc; }

b { color: rgb(150, 105, 105); }

img {
  height: 60px; /* Fix missing units */
  width: 60px; /* Fix missing units */
}

.skills {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 20px;
}

.skills li { padding: 10px; }

/* Footer styling */
footer {
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  margin: 20px;
  padding: 10px 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  max-width: 40%;
}

input { margin: 4px; }

textarea {
  height: 80px;
  margin: 4px;
}

.back { color: white; }

#submit {
  background-color: green;
  border-radius: 10px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2em;
  padding: 4px;
}


/* Responsive Design */
@media (max-width: 1200px) {

  header { 
    margin-top: -60px;
    width: 100%; 
  }

  nav ul {
    align-items: center;
    flex-direction: row;
    margin-left: 0;
    margin-top: 120px; 
    /* Adjust margin */
  }

  main { padding-top: 180px; }

}

/* Responsive Design */
@media (max-width: 768px) {

  header { margin-top: -120px; }

  nav ul {
    align-items: center;
    flex-direction: column;
    margin-left: 0;
    margin-top: 240px; /* Adjust margin */
  }

  main { padding-top: 320px; }

}
